/* 000000 -- black */
/* fffff1 -- white */

/* 1dffc7 -- aqua */
/* 2ef747 -- green */
/* 2ef747 -- blue */

* {
    font-family: 'Ubuntu';
    text-transform: lowercase;
    text-align: left;
    line-height: 2.5ch;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: #1d1d1d;
    color: #fffff1;

    text-align: center;
    padding: 5ch;
}

.txt-aqua {
    color: #1cfebe;
}

.txt-green {
    color: #2ef747;
}

.txt-blue {
    color: #000dbb;
}

.blog {
    border: 1px solid #333;
    padding: 4ch;
    margin: 2ch;
    width: 64ch;

    position: relative;
    display: inline-block;
    justify-content: center;
}

.blog .blog-title {

}

.blog .blog-short {

}

.blog .blog-btn-redirect {
    text-decoration: none;
    color: #2ef747;
}

code {
    justify-content: left;
}