/* 000000 -- black */
/* fffff1 -- white */

/* 1dffc7 -- aqua */
/* 2ef747 -- green */
/* 2ef747 -- blue */

* {
    font-family: 'Ubuntu';
    text-transform: lowercase;
    text-align: left;
    line-height: 2.5ch;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    margin: 2ch;
}

header h1 {
    color: #fffff1;
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: #1d1d1d;
    color: #fffff1;
    text-align: center;
}

.txt-aqua {
    color: #1cfebe;
}

.txt-green {
    color: #2ef747;
}

.txt-blue {
    color: #000dbb;
}

.blog {
    border: 1ch solid #333;
    padding: 1.5ch;
    margin: 1.5ch;
    width: 70%;

    position: relative;
    display: inline-block;
    justify-content: center;
}

.blog .blog-title {
    text-transform: uppercase;
}

.blog .blog-short {

}

.blog .blog-btn-redirect {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(46, 247, 71, 0.75);
    background-color: #1d1d1d;
}

.blog .blog-btn-redirect:hover {
    color: #1d1d1d;
    background-color: rgba(46, 247, 71, 0.75);
}