.portfolio-item {
    max-width: 512px;
    border-radius: 5px;
    background-color: #413F42;
}

.portfolio-item-image {
    border-radius: 5px;
    margin-top: 1.5ch;
    width: 100%;
}

@media screen and (max-width: 768px) and (max-height: 600px) {
    .portfolio-item {
        max-width: 256px;
    }
}

@media screen and (min-width: 768px) and (min-height: 600px) {
    .portfolio-item:hover {
        background-color: #5d5b5e;
        cursor: pointer;
    }
}