@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@layer base {
  * {
    font-family: 'Roboto', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #191717;
    color: white;
    min-height: 100vh;
  }
  
  h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
  }
  
  p,h5,h6 { 
    font-family: 'Roboto', sans-serif;
  }  
}

.profile-card {
  max-height: 50vh;
}

.hide-on-small{
  display:block;
}

.go-back {
  background-color: #F05454;
  color: white;
  font-weight: bold;
  padding: 1.5ch;
}

.center-content {
    margin: 0 auto auto;
    max-width: 50rem;
}

.highlight {
  background-color: rgb(179, 179, 179);
  color: #191717;
}

@media (max-width: 1224px) {
    .center-content {
        width: 100vw;
        max-width: 100%;
    }
}

@media screen and (max-height: 600px) {
  .hide-on-small{
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  :hover.animate-wobble {
    animation: wobble 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    cursor: pointer;
  }
  
  @keyframes wobble {
    0% {
      scale: 1.0;
    }
    50% {
      scale: 1.025;
    }
    100% {
      scale: 1;
    }
  }
}
