.sidebar {
    z-index: 10;
    background-color:white;
    max-width: 100%;
    min-height: 100vh;
    max-width: 42ch;
    width: auto;
    border: 0;
    border-right: 1px;
    border-color: var(--outline-gray);
    border-style: solid;
}

.sidebartitle {
    position: sticky;
    top: 40vh;
}

@media (max-width: 1224px) {
    .sidebartitle {
        top: 0;
    }

    .sidebar {
        min-height: 64px;
        max-width: 100%;
        width: 100%;
        border: 0;
        border-bottom: 1px;
        border-color: var(--outline-gray);
        border-style: solid;
    }
}
