---
---

<div
  class="mt-0 m-auto prose prose-a:text-cyan-600 prose-a:no-underline prose-a:uppercase
  prose-img:rounded-lg prose-h1:-ml-4 prose-h2:-ml-2 prose-p:text-zinc-300
  prose-h1:bg-cyan-600 prose-h1:text-black prose-h1:p-2
  dark:prose-invert">
  <slot />
</div>