package templates

import "justinac0.github.io/internal/types"

templ ArticlePage(page types.Page) {
	@ArticleLayout(page.Meta.Title) {
		<hr/>
		<a href="/">back</a>
		<article>
			@templ.Raw(page.HTML)
		</article>
	}
}
