package templates

import "justinac0.github.io/internal/page"

templ ArticlePage(p page.Page) {
	@ArticleLayout(p.Meta.Title) {
		<a href="/">back</a>
		<hr/>
		<article>
			@templ.Raw(p.HTML)
		</article>
	}
}
