---
import Prose from "../components/Prose.astro"

const imgData = import.meta.glob("../../public/project/*.{jpg,jpeg,gif,png,PNG}", {eager: true});
const projectImgs = Object.values(imgData);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="justin chappell">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Justin Chappell</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.18/dist/katex.min.css" integrity="sha384-veTAhWILPOotXm+kbR5uY7dRamYLJf58I7P+hJhjeuc7hsMAkJHTsPahAl0hBST0" crossorigin="anonymous">
		{projectImgs.map(img => <link rel="preload" href={img.default.src} as="image" />)}
	</head>
	<body>
		<Prose>
			<slot />
		</Prose>
	</body>
</html>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
	font-family: 'JetBrains Mono', sans-serif;
	background-color: #0e0e17;
	margin-top: 0;
	padding: 5%;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

#prev, #next {
	background-color: #164e63;
	padding: 8px 20px;
	cursor: pointer;
}

#prev:hover, #next:hover {
	background-color: #0891b2;
}

</style>
