body {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    background-color: #1a1a25;
    color: #f3f3f3;
    line-height: 1.6;
    padding-bottom: 4rem;
    margin: 0;
    padding: 2rem 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

pre {
    background-color: #333345;
    padding: 1rem;
}

blockquote {
    font-style: italic;
    margin: 0;
    padding: 0;
    color: gray;
}
